<header class="navbar navbar-expand-md d-print-none">
  <div class="container-xl">
    <!-- BEGIN NAVBAR TOGGLER -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-menu"
      aria-controls="navbar-menu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- END NAVBAR TOGGLER -->

    <!-- BEGIN NAVBAR LOGO -->
    <div
      class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3"
    >
      <a
        routerLink="/home"
        aria-label="FrameZone"
        class="d-flex align-items-center gap-2"
      >
        <div class="logo-image">
          <img src="favicon2.png" alt="FrameZone Logo" />
        </div>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-picsart">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 9m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
          <path d="M12 9m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
          <path d="M5 9v11a2 2 0 1 0 4 0v-4.5" />
        </svg> -->
        <h2 class="mb-0">FrameZone</h2>
      </a>
    </div>
    <!-- END NAVBAR LOGO -->

    <div class="collapse navbar-collapse" id="navbar-menu">
      <!-- BEGIN NAVBAR MENU -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/photographer-bookinghome">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-building-estate"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M3 21h18" />
                <path d="M19 21v-4" />
                <path
                  d="M19 17a2 2 0 0 0 2 -2v-2a2 2 0 1 0 -4 0v2a2 2 0 0 0 2 2z"
                />
                <path d="M14 21v-14a3 3 0 0 0 -3 -3h-4a3 3 0 0 0 -3 3v14" />
                <path d="M9 17v4" />
                <path d="M8 13h2" />
                <path d="M8 9h2" />
              </svg>
            </span>
            <span class="nav-link-title">首頁</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/photographerbooking-page-search">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-building-estate"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M3 21h18" />
                <path d="M19 21v-4" />
                <path
                  d="M19 17a2 2 0 0 0 2 -2v-2a2 2 0 1 0 -4 0v2a2 2 0 0 0 2 2z"
                />
                <path d="M14 21v-14a3 3 0 0 0 -3 -3h-4a3 3 0 0 0 -3 3v14" />
                <path d="M9 17v4" />
                <path d="M8 13h2" />
                <path d="M8 9h2" />
              </svg>
            </span>
            <span class="nav-link-title">尋找攝影師</span>
          </a>
        </li>
      </ul>
      <!-- END NAVBAR MENU -->
    </div>
  </div>
</header>
