<div class="card channel-card text-decoration-none p-1 d-flex flex-row align-items-center mb-3"
  style="max-width: 22rem;">

  <!-- 頭像 -->
  <div class="d-flex align-items-center pointer me-3" (click)="FollowerBtn()">
    <img src="{{channel.UserAvatarUrl}}" alt="頻道頭像" class="rounded-circle"
      style="width:64px; height:64px; object-fit:cover;" />
  </div>

  <!-- 中間資訊 -->
  <div class="flex-grow-1">
    <div class="fw-semibold fs-5 text-truncate">{{ channel.Name }}</div>

    <div class="text-secondary small d-flex align-items-center">
      <i class="ti ti-users me-1"></i>
      {{ channel.Follows }} 跟隨者
    </div>
  </div>
  <div class="me-3"><app-subscribe-button></app-subscribe-button></div>

</div>