################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

bin/
obj/
[Bb]in/
[Oo]bj/
.vs/
.DS_Store
/.vs

*.vsidx
/FrameZone_WebApi/FrameZone_WebApi/obj/Release/net9.0
/FrameZone_WebApi/FrameZone_WebApi/wwwroot/FFmpeg/
