################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/FrameZone_WebApi/FrameZone_WebApi/bin/Debug/net9.0
