<div class="container my-5">
  <app-searchbox></app-searchbox>
</div>

<div class="container my-5">

  <!-- 熱門創作者 -->
  <app-video-creatorspotlight [channel]="channel" [Videos]="videos"></app-video-creatorspotlight>

  <!-- Popular -->
  <h2 class="my-4 fw-bold">Popular</h2>

  <div class="row g-4">

    <!-- 卡片 -->
    <div class="position-relative my-4">
      <app-videos-list [variant]="'gridshow-scroll'" [videos]="recommendVideos!"></app-videos-list>
    </div>
  </div>

  <!-- Recommend -->
  <h2 class="my-4 fw-bold">推薦影片</h2>

  <div class="video-grid">
    @for (video of recommendVideos; track $index) {
    <app-video-card [video]="video" [variant]="'large'">
    </app-video-card>
    }
  </div>

</div>