<div class="d-flex mb-3 align-items-start comment-item">
  <img src="~/img/social/default-avatar.png" class="rounded-circle me-2" style="width:35px; height:35px" />

  <div class="flex-grow-1">
    <div class="bg-light p-2 rounded">
      <div class="d-flex justify-content-between">
        <strong style="font-size: 0.85rem;">UserId: {{data.userId}}</strong>
        <span class="text-muted" style="font-size: 0.75rem;">{{data.createdAt | date:'MM-dd HH:mm'}}</span>
      </div>
      <div style="font-size: 0.9rem; white-space: pre-wrap;">{{data.content}}</div>
    </div>

    <div class="mt-1 ms-1">
      <button class="btn btn-link btn-sm p-0 text-decoration-none text-muted" style="font-size: 0.75rem;">回覆</button>
      @if(isOwner) {
      <button class="btn btn-link btn-sm p-0 text-decoration-none text-danger ms-2" style="font-size: 0.75rem;"
        (click)="onDeleteClick()">刪除</button>
      }
    </div>
  </div>
</div>