<footer class="app-footer">
  <div class="container py-5">
    <div class="row">

      <div class="col-lg-3 mb-4 mb-md-0">
        <h2 class="text-white mb-3">FrameZone</h2>
        <div class="social-icons mt-3">
          <a href="#" class="footer-icon me-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
            </svg>
          </a>
          <a href="#" class="footer-icon me-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
              <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
              <path d="M16.5 7.5v.01" />
            </svg>
          </a>
          <a href="#" class="footer-icon me-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
              <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
            </svg>
          </a>
        </div>
      </div>

      <div class="col-lg-3 mb-4 mb-md-0">
        <h2 class="text-white mb-3">快速連結</h2>
        <ul class="list-unstyled footer-links">
          <li><a href="#" class="footer-link">照片分類</a></li>
          <li><a href="#" class="footer-link">社群</a></li>
          <li><a href="#" class="footer-link">購物中心</a></li>
          <li><a href="#" class="footer-link">預約工作室</a></li>
          <li><a href="#" class="footer-link">影音分享</a></li>
        </ul>
      </div>

      <div class="col-lg-3">
        <h2 class="text-white mb-3">資訊</h2>
        <ul class="list-unstyled footer-links">
          <li><a href="#" class="footer-link">關於我們</a></li>
          <li><a href="#" class="footer-link">服務條款</a></li>
          <li><a href="#" class="footer-link">隱私權政策</a></li>
          <li><a href="#" class="footer-link">退款政策</a></li>
        </ul>
      </div>

      <div class="col-lg-3">
        <h2 class="text-white mb-3">聯絡我們</h2>
        <ul class="list-unstyled footer-links">
          <li><a href="#" class="footer-link">聯絡電話：</a></li>
          <li>0900-000-000</li>
          <li><a href="#" class="footer-link">電子郵件：</a></li>
          <li>contact&#64;framezone.com</li>
        </ul>
      </div>
    </div>

    <hr class="mt-2 mb-3 footer-hr">

    <div class="text-center">
      <small class="footer-text">&copy; {{ getCurrentYear() }} FrameZone. All rights reserved.</small>
    </div>
  </div>
</footer>