.video-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
}

/* 按鈕 */
.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-scroll {
  display: flex;
  /* 水平排列 */
  flex-wrap: nowrap;
  /* 不換行 */
  overflow-x: auto;
  gap: 1rem;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.slide-btn-left {
  left: -10px;
}

.slide-btn-right {
  right: -10px;
}