<ng-container [ngSwitch]="variant">

  <!-- list：直向清單（小卡片） -->
  <ng-container *ngSwitchCase="'list'">
    @for (video of videos; track $index) {
    <app-video-card [video]="video" [variant]="'small'">
    </app-video-card>
    }
  </ng-container>

  <!-- gridshow：一般網格展示（大卡片） -->
  <ng-container *ngSwitchCase="'gridshow'">
    <div class="video-grid">
      @for (video of videos; track $index) {
      <app-video-card [video]="video" [variant]="'large'">
      </app-video-card>
      }
    </div>
  </ng-container>

  <!-- gridshow-scroll：橫向滑動網格（大卡片） -->
  <ng-container *ngSwitchCase="'gridshow-scroll'">
    <div class="position-relative my-4">

      <!-- 向左滑動 -->
      <button class="slide-btn slide-btn-left btn btn-light shadow-sm" (click)="scrollLeft()">
        <i class="ti ti-chevron-left"></i>
      </button>

      <!-- 橫向滑動容器 -->
      <div #scrollContainer class="horizontal-scroll">
        <app-video-card *ngFor="let video of videos" [video]="video" [variant]="'large'">
        </app-video-card>
      </div>

      <!-- 向右滑動 -->
      <button class="slide-btn slide-btn-right btn btn-light shadow-sm" (click)="scrollRight()">
        <i class="ti ti-chevron-right"></i>
      </button>
    </div>
  </ng-container>

  <!-- playlist-gridshow：播放清單網格展示 -->
  <ng-container *ngSwitchCase="'playlist-gridshow'">
    <div class="video-grid">
      @for (VideoPlaylist of VideoPlaylists; track $index) {
      <app-videolist-card [videosPlaylist]="VideoPlaylist">
      </app-videolist-card>
      }
    </div>
  </ng-container>

  <!-- playlist-gridshow-scroll：播放清單橫向滑動展示 -->
  <ng-container *ngSwitchCase="'playlist-gridshow-scroll'">
    <div class="position-relative my-4">

      <!-- 向左滑動 -->
      <button class="slide-btn slide-btn-left btn btn-light shadow-sm" (click)="scrollLeft()">
        <i class="ti ti-chevron-left"></i>
      </button>

      <!-- 橫向滑動容器 -->
      <div #scrollContainer class="horizontal-scroll">
        <app-videolist-card *ngFor="let videosplaylist of VideoPlaylists" [videosPlaylist]="videosplaylist">
        </app-videolist-card>
      </div>

      <!-- 向右滑動 -->
      <button class="slide-btn slide-btn-right btn btn-light shadow-sm" (click)="scrollRight()">
        <i class="ti ti-chevron-right"></i>
      </button>
    </div>
  </ng-container>

  <!-- creator-video-list：創作者影片清單(長) -->
  <ng-container *ngSwitchCase="'creator-list'">
    @for (video of VideoDetailData; track $index) {
    <app-videocreator-videocard [Video]="video"></app-videocreator-videocard>
    }
  </ng-container>

</ng-container>