.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page-body {
  flex: 1;
  padding: 1.5rem 0;
}

@media (max-width: 576px) {
  .page-body {
    padding: 1rem 0;
  }
}
