.video-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s;
  cursor: pointer;
}



.video-thumb {
  width: 100%;
  max-width: 320px;
  aspect-ratio: 16/9;
  border-radius: 4px;
  overflow: hidden;
}

.video-card {
  cursor: pointer;
  transition: box-shadow 0.2s, transform 0.2s;
}

/* 影片時間 */
.duration-tag {
  position: absolute;
  bottom: 0.3rem;
  right: 0.3rem;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 1px 6px;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: bold;
}

/* 縮圖容器共用設定 */
.video-thumb-container {
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
}

/* 小縮圖列表 */
.video-thumb-small {
  width: 120px;
  /* 可改成 % 或 max-width */
  aspect-ratio: 16/9;
}

/* 大縮圖卡 */
.video-thumb-big {
  /* width: 100%; */
  /* 控制最大寬度 */
  aspect-ratio: 16/9;
}

/* 縮圖內圖片 */
video-thumb-container img,
video-thumb-container app-video-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.2s;
}