<!-- 左側欄（功能選單） -->
<div class="card shadow-sm">
  <div class="card-body">
    <h3 class="mb-3">選單</h3>
    <div class="input-group mb-3">
      <span class="input-group-text bg-white border-end-0">
        <i class="bi bi-search text-muted"></i>
      </span>
      <input type="text" class="form-control border-start-0 ps-0" placeholder="搜尋內容..." aria-label="Search">
    </div>
    <div class="btn-group-vertical w-100" role="group">
      <a class="nav-link btn btn-custom" routerLink="index">
        <i class="bi bi-house"></i> 首頁
      </a>
      <a class="nav-link btn btn-custom" routerLink="profile">
        <i class="bi bi-people"></i> 我的貼文
      </a>
      <a class="nav-link btn btn-custom" routerLink="friends">
        <i class="bi bi-people"></i> 朋友
      </a>
    </div>
  </div>
</div>