<div class="card shadow-sm menu-card">
  <div class="card-body">
    <h3 class="menu-title mb-3">選單</h3>

    <div class="menu-list">
      <a class="nav-link menu-item-btn" routerLink="index">
        <div class="icon-circle">
          <i class="bi bi-house-door-fill"></i>
        </div>
        <span class="menu-item-name">首頁</span>
      </a>

      @if (currentUser$ | async; as user) {
      <a class="nav-link menu-item-btn" [routerLink]="['/social/profile', user.userId]">
        <div class="icon-circle">
          <i class="bi bi-collection-play-fill"></i>
        </div>
        <span class="menu-item-name">我的貼文</span>
      </a>
      } @else {
      <a class="nav-link menu-item-btn" routerLink="profile">
        <div class="icon-circle">
          <i class="bi bi-collection-play-fill"></i>
        </div>
        <span class="menu-item-name">我的貼文</span>
      </a>
      }

      <a class="nav-link menu-item-btn" routerLink="following">
        <div class="icon-circle">
          <i class="bi bi-newspaper"></i>
        </div>
        <span class="menu-item-name">正在追蹤</span>
      </a>

      <a class="nav-link menu-item-btn" routerLink="recent">
        <div class="icon-circle">
          <i class="bi bi-clock-history"></i>
        </div>
        <span class="menu-item-name">最近觀看</span>
      </a>

      <a class="nav-link menu-item-btn" routerLink="liked">
        <div class="icon-circle">
          <i class="bi bi-heart-fill text-danger"></i>
        </div>
        <span class="menu-item-name">已按讚的貼文</span>
      </a>

      <a class="nav-link menu-item-btn" routerLink="commented">
        <div class="icon-circle">
          <i class="bi bi-chat-dots-fill"></i>
        </div>
        <span class="menu-item-name">留言過的貼文</span>
      </a>

      <a class="nav-link menu-item-btn" routerLink="shared">
        <div class="icon-circle">
          <i class="bi bi-share-fill"></i>
        </div>
        <span class="menu-item-name">分享過的貼文</span>
      </a>

      <hr class="my-3">

      <a class="nav-link menu-item-btn" routerLink="following">
        <div class="icon-circle">
          <i class="bi bi-person-lines-fill"></i>
        </div>
        <span class="menu-item-name">好友清單</span>
      </a>

      <a class="nav-link menu-item-btn" routerLink="following">
        <div class="icon-circle">
          <i class="bi bi-three-dots"></i>
        </div>
        <span class="menu-item-name">社團</span>
      </a>

      <a class="nav-link menu-item-btn" routerLink="following">
        <div class="icon-circle">
          <i class="bi bi-calendar-event-fill"></i>
        </div>
        <span class="menu-item-name">活動</span>
      </a>

      <a class="nav-link menu-item-btn" routerLink="following">
        <div class="icon-circle">
          <i class="bi bi-gear-fill"></i>
        </div>
        <span class="menu-item-name">設定</span>
      </a>

    </div>
  </div>
</div>
