<!-- 左側欄（功能選單） -->
<div class="card shadow-sm" style="position:sticky; top: 20px;">
  <div class="card-body">
    <h3 class="mb-3">選單</h3>
    <div class="btn-group-vertical w-100" role="group">
      <a class="nav-link btn btn-custom" routerLink="/social">
        <i class="bi bi-house"></i> 首頁
      </a>
      <a class="nav-link btn btn-custom" routerLink="/social">
        <i class="bi bi-people"></i> 貼文管理
      </a>
      <a class="nav-link btn btn-custom" routerLink="/social">
        <i class="bi bi-people"></i> 朋友
      </a>
    </div>
  </div>
</div>