.subtotal {
  /* 設定固定定位，使其脫離文檔流，不隨滾動條移動 */
  position: fixed;
  /* 必須手動設定寬度，這是一個估計值，請根據實際設計調整 */
  width: 415px;

}

.cart-title {
  font-size: 26px;
}

.card {
  background-color: rgb(244, 246, 255);
}

.avatar {
  border-radius: 50%;
}