<!-- 最新上傳 -->
<section class="mb-5">
  <div class="section-header mb-3">
    <span class="section-icon">
      <i class="ti ti-upload"></i>
    </span>
    <h2 class="section-title mb-0">最新上傳</h2>
  </div>
  <div class="placeholder-box">
    <app-videos-list [variant]="'gridshow-scroll'" [videos]="LastUploadVideos!"></app-videos-list>
  </div>
</section>

<!-- 熱門影片 -->
<section class="mb-5">
  <div class="section-header mb-3">
    <span class="section-icon">
      <i class="ti ti-flame"></i>
    </span>
    <h2 class="section-title">熱門影片</h2>
  </div>

  <div class="placeholder-box">
    <app-videos-list [variant]="'gridshow-scroll'" [videos]="PupularVideos"></app-videos-list>
  </div>
</section>

<!-- 播放清單 -->
<section class="mb-5">
  <div class="section-header mb-3">
    <span class="section-icon">
      <i class="ti ti-list me-2"></i>
    </span>
    <h2 class="section-title mb-0">撥放清單</h2>
  </div>
  <div class="placeholder-box">
    <app-videos-list [variant]="'playlist-gridshow-scroll'" [VideoPlaylists]="VideoPlaylists"></app-videos-list>
  </div>
</section>