<app-photographerbooking-header></app-photographerbooking-header>

<app-photographer-bookinghero></app-photographer-bookinghero>

<app-photographer-booking-servicetypes></app-photographer-booking-servicetypes>

<div class="container my-5 featured-section">
  <h2 class="mb-4 fw-bold">精選攝影師</h2>
  <div class="photographer-grid">
    <app-photographerbooking-card *ngFor="let p of featuredPhotographers"
      [photographer]="p"></app-photographerbooking-card>
  </div>
</div>

<app-photographer-booking-specialtytags></app-photographer-booking-specialtytags>

<app-footer></app-footer>