:host {
  display: block;
}

/* 版型容器 */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 32px;
}

h2.fw-bold {
  font-size: 2rem; /* 或是使用 32px */
  letter-spacing: -0.5px; /* 稍微縮小字距，看起來更專業 */
  margin-bottom: 24px; /* 調整標題下方的距離 */
}
