<section class="service-explore">
  <h2>探索熱門攝影服務</h2>
  <p class="desc">從拍攝情境開始，找到最適合你的服務</p>

  <div class="explore-row">
    @for (service of services; track $index) {
    <a
      class="explore-card"
      [class.active]="activeCardIndex === $index"
      (mouseenter)="setActive($index)"
      (click)="setActive($index)"
      [href]="service.link"
    >
      <img [src]="service.img" [alt]="service.title" />
      <div class="card-content">
        <h3>{{ service.title }}</h3>
        <p>{{ service.desc }}</p>
      </div>
    </a>
    }
  </div>

  <div class="custom-btn-container">
    <a href="/photographerbooking-page-search" class="explore-more-btn">
      探索更多服務
      <svg
        class="arrow-icon"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M17 8l4 4m0 0l-4 4m4-4H3"
        ></path>
      </svg>
    </a>
  </div>
</section>
