.btn-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* display: none; */
  z-index: 1000;
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}