.btn-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 1000;
  background-color: #540081;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
}