<section class="orbit-system">

  <div class="stars-container">
    @for (star of stars; track $index) {
    <div class="star" [ngStyle]="star.style"></div>
    }

    @for (sStar of shootingStars; track $index) {
    <div class="shooting-star" [ngStyle]="sStar.style"></div>
    }
  </div>

  <!-- 中心核心 -->
  <div class="orbit-core">
    <img src="/favicon2.png" alt="FrameZone">
    <h1>FrameZone</h1>
    <p>Five Systems, One Creative Core</p>
  </div>

  <!-- 外圈：購物 / 影音 / 預約 -->
  <div class="orbit outer">
    <div class="planet">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-building-store">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M3 21l18 0" />
        <path d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4" />
        <path d="M5 21l0 -10.15" />
        <path d="M19 21l0 -10.15" />
        <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" />
      </svg>
    </div>
    <div class="planet">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-video">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M15 10l4.553 -2.276a1 1 0 0 1 1.447 .894v6.764a1 1 0 0 1 -1.447 .894l-4.553 -2.276v-4z" />
        <path d="M3 6m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" />
      </svg>
    </div>
    <div class="planet">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-building-estate">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M3 21h18" />
        <path d="M19 21v-4" />
        <path d="M19 17a2 2 0 0 0 2 -2v-2a2 2 0 1 0 -4 0v2a2 2 0 0 0 2 2z" />
        <path d="M14 21v-14a3 3 0 0 0 -3 -3h-4a3 3 0 0 0 -3 3v14" />
        <path d="M9 17v4" />
        <path d="M8 13h2" />
        <path d="M8 9h2" />
      </svg>
    </div>
  </div>
  <div class="orbit mid"></div>
  <!-- 內圈：照片 / 社群 -->
  <div class="orbit inner">
    <div class="planet">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-photo">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M15 8h.01" />
        <path d="M3 6a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v12a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3v-12z" />
        <path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l5 5" />
        <path d="M14 14l1 -1c.928 -.893 2.072 -.893 3 0l3 3" />
      </svg>
    </div>
    <div class="planet">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-brand-carbon">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M14 10v-.2a1.8 1.8 0 0 0 -1.8 -1.8h-.4a1.8 1.8 0 0 0 -1.8 1.8v4.4a1.8 1.8 0 0 0 1.8 1.8h.4a1.8 1.8 0 0 0 1.8 -1.8v-.2" />
        <path d="M3 3m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v12a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z" />
      </svg>
    </div>
  </div>


  @for (p of photos(); track p.id) {
  <div class="photo-node" [ngStyle]="p.pos" [style.--rotate]="p.rot" [class.is-right]="p.side === 'right'"
    [class.move-up]="p.dir === 'up'">

    <a [routerLink]="p.link" class="photo-card nav-link-sm" style="text-decoration: none; display: block;">
      <div class="img-container">
        <img [src]="p.src" [alt]="p.label">
      </div>

      <svg class="scan-line" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path [attr.d]="p.path" class="path-anim"></path>
      </svg>

      <div class="info-tag">{{ p.label }}</div>
    </a>
  </div>
  }
</section>
