<div class="container-xl">
  <div class="page-header">
    <h1>FrameZone</h1>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3>歡迎來到 FrameZone</h3>
          <p>這是首頁內容</p>
          <hr>
          <hr>
          <hr>
          <hr>
          <hr>
          <hr>
          <hr>
          <hr>
          <p>這是首頁內容</p>
          <hr>
          <hr>
          <hr>
          <hr>
          <hr>
          <hr>
          <p>這是首頁內容</p>
        </div>
      </div>
    </div>
  </div>
</div>